body{
    font-family: serif;
}
body .welcome{
    height: 420px;
    
}   
body .welcome .welcomeCon{
    width: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
}
body .welcome .welcomeCon .welcomeCCon{
    display: flex;
    justify-content: center;
    align-items: center;
}
body .welcome .welcomeCon .welcomeCCon .textWelcome{
    width: 50%;
}
body .welcome .welcomeCon .welcomeCCon .textWelcome h1{
    text-align: left;
    font-size: 3rem;
}
body .welcome .welcomeCon .welcomeCCon .textWelcome h1 span{
    color: #335eea;
}
body .welcome .welcomeCon .welcomeCCon .textWelcome p{
    font-size: 1.4rem;
    color: #869ab8;
    padding-bottom: 20px;
}
body .welcome .welcomeCon .welcomeCCon .textWelcome .buttonWelcome{
    height: 55px;
    text-align: left;
}
body .welcome .welcomeCon .welcomeCCon .textWelcome .buttonWelcome a.viewWelcome{
    background-color: #335eea;
    color: white;
    height: 27px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid transparent;
    font-size: 1.1rem;
    border-radius: 0.375rem;
    margin-right: 10px;
}
body .welcome .welcomeCon .welcomeCCon .textWelcome .buttonWelcome a.documenWelcome{
    background-color: rgba(51,94,234,.1);
    color: #335eea;
    height: 27px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid transparent;
    font-size: 1.1rem;
    border-radius: 0.375rem;
    
}
a{
    text-decoration: none;
}
body .welcome .welcomeCon .welcomeCCon .imgWelcomeRight{
    width: 50%;
    height: 420px;
}


body .iconText{
    height: 180px;
    padding-top: 200px;
    padding-bottom: 100px;
    border-bottom: 1px solid #f1f4f8;
}
body .iconText .iconTextCon{
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
body .iconText .iconTextCon .iconTextCCon{
    display: flex;
}
body .iconText .iconTextCon .iconTextCCon .iconTextCCon1{
    width: 305px;
    margin-right: 10px;
}
body .iconText .iconTextCon .iconTextCCon .iconTextCCon1 h3{
    font-size: 1.3125rem;;
}
body .iconText .iconTextCon .iconTextCCon .iconTextCCon1 p{
    color: #869ab8;
    font-size: 1.1rem;
}

body .imgIcon{
    height: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #f1f4f5;
}
body .imgIcon .imgIconCon{
    width: 1000px;
    margin: auto;
}
body .imgIcon .imgIconCon .imgIconCCon{
    display: flex;
}
body .imgIcon .imgIconCon .imgIconCCon .imgIconCCon1{
    padding-left: 20px;
    padding-right: 20px;
}
body .imgIcon .imgIconCon .imgIconCCon .imgIconCCon1{
    padding-right: 20px;
}

body .namePass{
    padding-top: 50px;
}
body .namePass .namePassCon{
    width: 1000px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}
body .namePassCon .namePassCCon{
    display: flex;
    align-items: center;
}
body .namePassCCon .namePassLeft{
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    height: 610px;
}
img.namePass{
    width: 400px;
    height: 265px;
}
body .namePassCCon .namePassLeft .namePassLeftCon{
    border-radius: 0.375rem;
    background-color: #dcdfe6;
}
body .namePassLeftCon .cardNamePass{
    padding: 30px 30px 30px 30px;
}
body .cardNamePass .cardName{
    height: 55px;
    width: 330px;
    border: 1px solid #f1f4f8;
}
body .cardNamePass .cardPass{
    height: 55px;
    width: 330px;
    border: 1px solid #f1f4f8;
    margin-bottom: 30px;
}
body .cardNamePass .cardEmail{
    height: 55px;
    width: 330px;
    border: 1px solid #f1f4f8;
}
body .cardNamePass .aDownLoad{
    width: 330px;
    height: 40px;
    background-color: #20c997;
    text-align: center;
    border-radius: 0.375rem;
    padding-top: 15px;
    
}
body .cardNamePass a.download{
    color: #fff;
    font-size: 1.1rem;
    
}
body .namePassRight{
    width: 480px;
    padding-right: 20px;
    padding-left: 100px;
}
body .namePassCCon .namePassRight h2{
    font-size: 2rem;
}
body .namePassCCon .namePassRight span.namePassGreen{
    color: #42ba96;
}
body .namePassCCon .namePassRight p.namePassG{
    color: #869ab8;  
}
body .namePassCCon .namePassRight p{
    font-size: 1.3rem;
    color: #42ba96;
}
img.iconV{
    width: 12px;
    height: 12px;
    padding-top: 28px;
    padding-right: 10px;
}
body .namePassRight .listIconNamePass{
    display: flex;
}
body .namePassRight .listIconNamePass .listIconNamePassLeft{
    padding-right: 100px;
}
body .namePassRight .listIconNamePass .listIconNamePassLeftTop{
    display: flex;
}
body .namePassRight .listIconNamePass .listIconNamePassLeftBottom{
    display: flex;
}
body .namePassRight .listIconNamePass .listIconNamePassRightTop{
    display: flex;
}
body .namePassRight .listIconNamePass .listIconNamePassRightBottom{
    display: flex;
}

body div.perfor{
    padding-top: 100px;
}
body .perfor .perforCon{
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    
}
body .perfor .perforCon .perforCCon{
    display: flex;
    
}
body .perforCCon .perforCConLeft{
    width: 480px;
    padding-left: 20px;
    padding-right: 20px;
}
body .perforCConLeft h2.perfor{
    font-size: 2rem;
}
body .perforCConLeft span.perforBlue{
    color: #335eea;
}
body .perforCConLeft p.perfor{
    font-size: 1.1875rem;
    color: #869ab8;
}
body .perforCConLeft .iconPerfor{
    display: flex;
}
img.iconPerfor{
    width: 35px;
    height: 35px;
    padding-top: 22px;
    padding-right: 10px;
}
h4{
    font-size: 1.3rem;
}
p.textIconPerfor{
    color: #869ab8;
    font-size: 1.1rem;
}
img.perforImg{
    width: 625px;
    height: 470px;
    border-radius: 0.375rem;
    box-shadow: 25px 60px 125px -25px rgba(80,102,144,.1), 16px 40px 75px -40px rgba(0,0,0,.2);
    /* transform: translate3d(42px, 62px, -135px); */
}
body .perforCCon .perforCConRight{
    width: 520px;
}

body div.table{
    padding-top: 50px;
}
body .table .tableCon{
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}
body .tableCon .tableCCon{
    
}
body .tableCCon .tableCConTop{
    width: 655px;
    text-align: center;
    padding-left: 170px;
}
h2.table{
    font-size: 2rem;
}
p.table{
    font-size: 1.3rem;
    color: #869ab8;
}